/* intro - section - start */
.row:nth-child(1) {
  & .right {
    & .bg-text {
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 1;
    }
    & h2 {
      color: var(--black-);
      transition: color 0.5s ease-in;
      z-index: 2;
      position: relative;
    }
    & span {
      transition: opacity 0.8s ease-in;
    }
  }
}

.row:nth-child(2) {
  & .left {
    & .bg-text {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
      z-index: 1;
    }
    & h2 {
      color: var(--black-);
      transition: color 0.5s ease-in;
      z-index: 2;
      position: relative;
    }
    & span {
      transition: opacity 0.8s ease-in;
    }
  }
}

.row.active {
  & .left {
    & .bg-text {
      transform: translateX(0);
      width: 100%;
    }
    & h2.cusf {
      color: var(--white-);
    }
    & span {
      opacity: 100%;
    }
  }

  & .right {
    & .bg-text {
      transform: translateX(0);
      width: 100%;
    }
    & h2.cusf {
      color: var(--white-);
    }
    & span {
      opacity: 100%;
    }
  }
}

.item {
  gap: 1.5rem;
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  & span {
    font-size: 2.25em;
    color: var(--white-);
  }
}
@media (max-width: 768px) {
  .item {
    gap: 1.5rem;
    & svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    & span {
      font-size: 1.55em;
      color: var(--white-);
    }
  }
}

.slider {
  --width: 200px;
  --height: 90px;
  --quantity: 4;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    var(--black-),
    var(--black-) 10% 90%,
    var(--black-)
  );
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: max-content;
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  /* transition: filter 0.5s; */
  transition: opacity 0.3s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item svg {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  /* filter: blur(3px); */
  opacity: 25%;
}
.slider .item:hover {
  opacity: 100%;
  /* filter: blur(0); */
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
/* intro - section - end */

/* about - section - start */
.bg-text-outline {
  color: transparent;
  -webkit-text-stroke: var(--w-stroke-) #0000001f;
  letter-spacing: calc(var(--w-stroke-) + 0.5rem);
  filter: blur(1px);
}
.word-space {
  word-spacing: 0.5rem;
}
/* about - section - end */

/* project - section - start */
.topic h1 {
  filter: drop-shadow(0.8rem 1rem 0 rgb(255, 254, 249));
  letter-spacing: 0.6rem;
}

.list .item .img {
  width: 100%;
  height: auto;
}
/* project - section - end */