@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yakin;
  src: url(/src/assets/font/Yakin.ttf);
}

@font-face {
  font-family: Explain;
  src: url(/src/assets/font/Expain.ttf);
}

* {
  font-family: Alexandria,sans-serif;
  color: var(--black-);
  user-select: none;
  scroll-behavior: smooth;
}


